body {
  width: 100vw;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[v-cloak] {
  display: none;
}

#banner {
  height: 6vh;
  background-color:#26b2f8;
  /* color: rgba(34, 32, 32, 0.952); */
  color: white;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}